<ng-include src="'static/partials/header.html'"></ng-include>
<h1 style="float: left; margin: 0;"> Welcome {{ user.name }}!</h1>
<div class="search-box">
    <span class="counter">
        Users: {{filterData.length}}/{{users.length}}
    </span>
    <input type="search" id="filter-user" name="q" ng-model="searchUser"
           class="form-control width-half " placeholder="Search users…"
           autocomplete="off" aria-label="Search users…" data-hotkey="/" value="">
</div>
<div ng-show="error" class="alert alert-danger" style="float: left; width: 100%;">{{errorMessage}}</div>
<div ng-show="success" class="alert alert-success" style="float: left;width: 100%;">{{successMessage}}</div>
<div class="panel panel-default" style=" float: left; width: 100%;">

    <div class="panel-heading" ng-click="adduser_toggle()">Add New (Click to View)</div>
    <div class="panel-body add" ng-show="adduser_state" style="">
        <div class="row">
            <form class="form-signin" ng-submit="addUser()">
                <div class="form-group">
                    <label for="inputName" class="sr-only">Name</label>
                    <input type="text" class="form-control" id="inputName" name="inputName" ng-model="registerForm.name"
                           placeholder="Name" required="" autofocus="">
                    <label for="password" class="sr-only">Password</label>
                    <input type="password" class="form-control" id="password" name="password"
                           ng-model="registerForm.password" placeholder="Password" required="">
                </div>
                <div>
                    <button type="submit" class="btn btn-lg btn-primary btn-block" ng-disabled="disabled">Register
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<table class="table table-hover" style="border: 1px solid #ddd;">
    <thead>
    <td style="width:10%"><strong>Action</strong></td>
    <td style="width:30%"><strong>Username</strong></td>
    <td style="width:60%"><strong>Registered</strong></td>
    </thead>
    <tbody>
    <tr id="row"
        ng-repeat="user in filterData = (users | filter : {username: searchUser}) | limitTo:pageSize:pageSize*(currentPage-1)">
        <td id="icons" width="150">
            <button type="button" class="del-btn btn btn-default btn-sm" ng-click="delUser(user.id)">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button>
            <button type="button" class="del-btn btn btn-default btn-sm" ng-click="link_toggle($index)">
                <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
            </button>
        </td>
        <td>
            <span title="152">{{user.username}}</span>
            <div class="show_deck" ng-show="user.show_deck">
                <table class="table table-hover" style="border: 1px solid #ddd;">
                    <thead>
                    <td><strong>No</strong></td>
                    <td><strong>Deckname</strong></td>
                    <td width="22%"><strong>Email Address</strong></td>
                    <td><strong>TweetDeck Login</strong></td>
                    <td><strong>Linked</strong></td>
                    </thead>
                    <tbody>
                    <tr ng-repeat="deck in decks">
                        <td>
                            <span>{{$index+1}}</span>
                        </td>
                        <td>
                            <span>{{deck.name}}</span>
                        </td>
                        <td>
                            <span>{{deck.email_address}}</span>
                        </td>
                        <td>
                            <span ng-if="deck.login_code == 1 "> Yes</span>
                            <span ng-if="deck.login_code == 0 "> Need Verify</span>
                            <span ng-if="deck.login_code == -1 "> No</span>
                        </td>
                        <td>
                            <div ng-if="user.linked_decks.indexOf(deck.id) != -1">
                                <button type="submit" class="btn btn-sm btn-success" style="width:70px"
                                        ng-disabled="disabled" ng-click="unlinkdeck(user.id, deck.id)">Linked
                                </button>
                            </div>
                            <div ng-if="user.linked_decks.indexOf(deck.id) == -1 ">
                                <button type="submit" class="btn btn-sm btn-danger" style="width:70px"
                                        ng-disabled="disabled" ng-click="linkdeck(user.id, deck.id)">Unlinked
                                </button>
                            </div>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </td>
        <td>
            <span title="152">{{user.registered_on}}</span>
        </td>
    </tr>
    </tbody>
</table>
<div style="text-align:center;">
    <uib-pagination total-items="filterData.length" style=" margin:5px;" ng-model="currentPage"
                    items-per-page="itemsPerPage">
    </uib-pagination>
</div>
</div>

